body{
    background-color: #424242;
}

.header{
    color: #e0e0e0;
    font-size: 40px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-bottom: 100px;
}

.iconbox{
    width: 20px;
    height: 20px;
    background-color: #2aa6db;
    display: inline-block;
    animation-timing-function: ease;
    position: relative;
    animation: float 0.7s infinite;
    animation-direction: alternate;
    
}

@keyframes float{
    from {top: 20px;}
    to {top: 0;}
}

h2{
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #e0e0e0;
}

#text1{
    text-align: left;
    width: 900px;
    margin-bottom: 30px;
    animation-timing-function: ease;
    position: relative;
    animation: textslide 2s 1;
    animation-fill-mode: forwards;
}

#text2{
    text-align: left;
    width: 900px;
    margin-top: 70px;
    animation-timing-function: ease;
    position: relative;
    animation: textslide 3s 1;
    animation-fill-mode: forwards;
}

@keyframes textslide{
    0% {left: -300px; opacity:0;}
    5% {opacity: 0;}
    100% {left: 0; opacity:1;}
}

.boxes1{
    display: inline-flex;
}

.boxes2{
    display: inline-flex;
}

.contentBox{
    text-align: left;
    margin-left: 20%;
}

.boxText{
    color: #424242;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-left: 5px;
    margin-top: 3px;
}

.squarebox{
    width: 100px;
    height: 100px;
    background: #e0e0e0;
    transition-timing-function: linear;
    transition: width 2s, height 2s;
    margin-right: 10px;    
}
  
#box1:hover{
    width: 300px;
    height: 300px;
    background-color: #d1d1d1;
}

.hiddentext{
    margin-left: 100px;
    margin-top: 100px;
    color: #424242;
    overflow: hidden;
}

#box2{
    transition: width 2s, height 1s;
}

#box2:hover{
    width: 400px;
    height: 150px;
    background-color: #d1d1d1;
}

#box3{
    cursor: pointer;
    width: 100px;
    height: 100px;
    background: #e0e0e0;
}

#box3:hover{
    background-color: #d1d1d1;
}

.colorbox{
    width: 100px;
    height: 100px;
    background: #e0e0e0;
    margin-right: 10px;
}

.colorbox:hover{
    animation-name: color1;
    animation-duration: 2s;
}

.colorbox:not(:hover){
    animation-name: color2;
    animation-duration: 2s;
}

@keyframes color1{
    0%   {background-color: #e0e0e0;}
    100% {background-color: #808080;}
}
@keyframes color2{
    0%   {background-color: #808080;}
    100% {background-color: #e0e0e0;}
}

.slidebox{
    width: 100px;
    height: 100px;
    background: #e0e0e0;
    margin-right: 10px;
    animation-timing-function: ease;
    position: relative;
    animation: slide 2s 1;
    animation-fill-mode: forwards;
}

.slidebox:hover{
    background-color: #d1d1d1;
}

@keyframes slide{
    from {left: 300px;}
    to {left: 0;}
}

.fadebox{
    width: 100px;
    height: 100px;
    background: #e0e0e0;
    margin-right: 10px;
    animation-timing-function: ease;
    position: relative;
    animation: fadeIn 2s 1;
    animation-fill-mode: forwards;
}

.fadebox:hover{
    background-color: #d1d1d1;
}

@keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
}